
config DRM_VIVANTE
	tristate "Vivante DRM"
	depends on DRM
	select SHMEM
	select TMPFS
	select IOMMU_API
	default y
	help
	  DRM driver for Vivante GPUs.

config DRM_VIVANTE_REGISTER_LOGGING
	bool "Vivante DRM register logging"
	depends on DRM_VIVANTE
	default n
	help
	  Compile in support for logging register reads/writes in a format
	  that can be parsed by envytools demsm tool.  If enabled, register
	  logging can be switched on via vivante.reglog=y module param.
